In [4]:
import pandas as pd

In [7]:
df = pd.DataFrame({'A': [0, 1, 2, 3, 4],
                   'B': [5, 6, 7, 8, 9],
                   'C': ['a', 'b', 'c', 'd', 'e']})
df

   A  B  C
0  0  5  a
1  1  6  b
2  2  7  c
3  3  8  d
4  4  9  e

In [6]:
df_partial = pd.DataFrame({'B': [9, 9, 9, 9, 9]})

   B
0  9
1  9
2  9
3  9
4  9